@import '../style/root.css';

.primary-color{
    background-color: var(--primary-color);
}
.secondary-color{
    background-color: var(--secondary-color);
}

.confirm{
    background-color: var(--confirm);
}
.cancel{
    background-color: var(--cancel);
}
.delete{
    background-color: var(--delete);
}
.edit{
    background-color: var(--edit);
}
.success{
    background-color: var(--success) 
} 
.danger{
    background-color: var(--danger) 
} 
.warning{
    background-color: var(--warning) 
} 
.alert{
    background-color: var(--alert) 
} 
.info{
    background-color: var(--info) 
} 


h1, .titulo{
    display: block;

    font-family: var(--title-font);
    font-size: var(--title-size);
    color: var(--title-color);
}

h2, .subtitulo{
    display: block;

    font-family: var(--subtitle-font);
    font-size: var(--subtitle-size);
    color: var(--subtitle-color);
}

p, .paragrafo{
    display: block;

    font-family: var(--paragraph-font);
    font-size: var(--paragraph-size);
    color: var(--paragraph-color);
}

.icone{
    background-repeat: var(--icon-repeat);
    background-position: var(--icon-position);
    background-size: var(--icon-size);
}

.lista_notificacao{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 1rem;
    right: 1rem;

}
.notificacao{
    background-color: red;

    list-style-type: none;
    
    padding: 1rem;
    width: 23rem;
    min-height: 9rem;
}

input{
    background-color: var(--primary-color);
    
    font-family: var(--input-text-font);
    font-size: var(--input-text-size);
    width: 30rem;
    height: 1rem;

    padding: 1rem;
    margin: 1rem;
}

select{
    background-color: var(--primary-color);
    
    font-family: var(--input-text-font);
    font-size: var(--input-text-size);
    width: 32.5rem;
    height: 5rem;

    padding: 1rem;
    margin: 1rem;
}
button[type='submit']{
    background-color: var(--confirm);
    cursor: pointer;
}
button[type='cancel']{
    background-color: var(--cancel);
    cursor: pointer;
}

legend{
    font-family: var(--legend-font);
    font-size: var(--legend-size);
}

label{
    font-family: var(--label-font);
    font-size: var(--label-size);
}